<div class="main-content">
  <div class="container-fluid row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="orange">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">My Profile</h4>
          <div class="card-content">
            <div *ngFor="let f of contactFields" class="row">
              <h4 class="col-md-6 col-sm-6">{{f.title}}</h4>
              <h4 class="col-md-6 col-sm-6">aaaa</h4>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>