<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <mat-form-field>
          <input matInput placeholder="Search..." [ngStyle]="{'width': '300px'}">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="dropdown">
          <button class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown">{{contact_name}}
            <b class="caret"></b>
          </button>
          <ul class="dropdown-menu dropdown-menu-left">
            <li *ngFor="let contact of contacts" (click)="choose_contact(contact.name)">
              <a> {{contact.name}} </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <button class="btn btn-success btn-block">New Contact</button>
      </div>
    </div>
    <div class="row">
      <div id="theGrid">
      </div>
    </div>
  </div>
</div>