.wj-flexgrid {
  background-color: white;
  box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 12px;
  height: 64vh;
}
.account-edit {
  text-align: right;
}
.account-list i {
  margin-right: 10px;
}
.dropdown-menu {
  width: 100%;
}
.dropdown-header {
  padding-top: 10px;
}
label {
  width: 100%;
}
.account-detail h4 {
  white-space: pre;
}
.account-detail h4:nth-child(even),
.account-active {
  color: slateblue;
  font-weight: bold;
  font-style: italic;
}
.account-active {
  color: lightgreen;
}
.account-board {
  height: 64vh;
  margin-right: 0;
  box-shadow: 1px 1px 5px;
}
#theGrid {
  position: relative;
}
.no-data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  z-index: 3;
  text-align: center;
  display: grid;
  align-items: center;
}