<div class="modal-dialog modal-small ">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="material-icons">clear</i>
      </button>
    </div>
    <div class="modal-body text-center">
      <h5>{{showData.message}}</h5>
      <input *ngIf="data.type == 'edit'" [(ngModel)]="data.name" />
    </div>
    <div class="modal-footer text-center">
      <button type="button" class="btn btn-simple" data-dismiss="modal" (click)="onConfirm(false)">{{showData.btnNo}}</button>
      <button type="button" class="btn btn-success btn-simple" data-dismiss="modal" (click)="onConfirm(true)">{{showData.btnYes}}</button>
    </div>
  </div>
</div>