<div class="main-content">
  <div class="container-fluid">
    <mat-card>
      <mat-card-title>
        Create Multiple
      </mat-card-title>
      <mat-card-content>
        <div class="row">
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-4">
            <button class="btn btn-success btn-block">Create Multiple</button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>