<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">group</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{list.name}}</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">{{ tableData.headerRow[0] }}</th>
                <th>{{ tableData.headerRow[1] }}</th>
                <th>{{ tableData.headerRow[2] }}</th>
                <th>{{ tableData.headerRow[3] }}</th>
                <th class="text-right">{{ tableData.headerRow[4] }}</th>
                <th class="text-right">{{ tableData.headerRow[5] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of tableData.dataRows">
                <td class="text-center">{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td class="text-right">&euro; {{row[4]}}</td>
                <td class="td-actions text-right">
                  <button type="button" class="btn btn-info btn-round">
                    <i class="material-icons">person</i>
                  </button>
                  <button type="button" class="btn btn-success btn-round">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" class="btn btn-danger btn-round">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>